<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("User Registration", "Index", "UserReg")</li>
                    <li>@Html.ActionLink("Item Adder", "Index", "Items")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; CoffeeShop - Our ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

@*<style>
    fieldset{
        text-align: center;
    }
    input[type="text"] {
        display: block;
        margin: 0 auto;
    }
    #Email {
        display: block;
        margin: 0 auto;
    }
    #EmailWarning {
        display: block;
        margin: 0 auto;
    }
    #PhoneNumber {
        display: block;
        margin: 0 auto;
    }
    #PhoneWarning {
        display: block;
        margin: 0 auto;
    }
    #Password {
        display: block;
        margin: 0 auto;
    }
    #Password2 {
        display: block;
        margin: 0 auto;
    }
    #PasswordWarning {
        display: block;
        margin: 0 auto;
    }
    #security {
        display: block;
        margin: 0 auto;
    }
    #submit {
        display: block;
        margin: 0 auto;
    }
    #title {
        text-align:center;
    }
</style>*@
