@{
    ViewBag.Title = "Home Page";
}
<h1>Welcome to the CoffeeShop</h1><br /><br />
<h2>Our Menu is listed below</h2><br /><br />

<table class="table-bordered">
    <tr>
        <th>Item Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>


    @foreach (CoffeeShop.Models.Item item in ViewBag.Items)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>

            @*<td>
                    <a href="/Home/Contact?ItemId=@item.ItemId" class="btn-primary">
                        Delete Item
                    </a>
                </td>*@


        </tr>
    }
</table><br /> <br />

@*<table class="table-bordered">
        <tr>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>SecurityQuestion</th>
            <th>SecurityAnswer</th>

        </tr>


        @foreach (CoffeeShop.Models.User item in ViewBag.Users)
        {
        <tr>
            <td>@item.Email</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.SecurityQuestion</td>
            <td>@item.SecurityAnswer</td>

        </tr>
        }
    </table>*@

<form action="/Home/ItemNameView">
    <input type="text" name="Name" />
    <input type="submit" value="List Items based off Name" class="btn-primary" />

</form>